version: '3'

services:
  db:
    restart: always
    image: "postgres:15-alpine"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=our
      - PORT = 1112
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - "1112:5432"
volumes:
  data:
